@{
    ViewData["Title"] = "Sınav Oluşturma";
}


    <div class="container p-5  d-flex justify-content-center">
        <form method="post" asp-controller="Home" asp-action="CreateExam" role="form">
            <div class="row">
                <div class="col-12">
                    <div class="input-group">
                        <select class="form-control">
                            <option value="">Paragraf Seçiniz</option>
                            <option value="A">dsfdsfsdf</option>
                            <option value="B">sdfsdfs</option>
                            <option value="C">dsfsdfsdfs</option>
                            <option value="D">dsfsdf</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="input-group">
                        <textarea  class="form-control" width="100%" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="1. Soruyu Giriniz" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Cevabı Giriniz" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Cevabı Giriniz" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Cevabı Giriniz" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Cevabı Giriniz" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <select class="form-control">
                            <option value="">Doğru Cevabı Seçiniz</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="2. Soruyu Giriniz" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Cevabı Giriniz" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Cevabı Giriniz" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Cevabı Giriniz" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Cevabı Giriniz" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <select class="form-control">
                            <option value="">Doğru Cevabı Seçiniz</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="3. Soruyu Giriniz" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Cevabı Giriniz" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Cevabı Giriniz" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Cevabı Giriniz" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Cevabı Giriniz" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <select class="form-control">
                            <option value="">Doğru Cevabı Seçiniz</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="4. Soruyu Giriniz" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Cevabı Giriniz" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Cevabı Giriniz" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Cevabı Giriniz" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Cevabı Giriniz" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <select class="form-control">
                            <option value="">Doğru Cevabı Seçiniz</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="submit" class="btn clever-btn w-100" value="Sınavı Oluştur">
                </div>
                </div>
</form>
        </div>
