@model List<ExamCreator.Models.ArticleViewModel>
@{
    ViewData["Title"] = "Sınav Oluşturma";
}

<div id="createExam" class="container p-5  d-flex justify-content-center">
    <form role="form" v-on:submit="createExam">
        <div class="border rounded p-2 my-2">
            <div class="row mb-2">
                <div class="col-12">
                    <div class="input-group">
                        <select id="lstArticles" name="lstArticles" class="form-control" v-on:change="selectArticle($event, $event.target.selectedIndex)" required="">
                            <option value="">
                                Paragraf Seçiniz
                            </option>
                            <option v-for="article in articleList" :key="article.Key" :value="article.Key">
                                {{ article.title }}
                            </option>
                        </select>
                        <div class="spinner-border m-1 mt-2" role="status" v-show="loading" style="width:20px;height:20px">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="input-group">
                        <textarea class="form-control" v-model="article.Content" style="height:180px"></textarea>
                    </div>
                </div>
            </div>
        </div>
        @for (int i = 0; i < 4; i++)
        {
            <div class="p-2 row d-flex justify-content-center border rounded my-2">
                <div class="col-12 pb-3">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text">@(i + 1).</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Soruyu Giriniz" v-model="article.QuestionList[@i].QuestionText" required="" />
                    </div>
                </div>
                <div class="col-6 pb-1">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text">A</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Cevabı Giriniz" v-model="article.QuestionList[@i].AnswerA" required="" />
                        <div class="invalid-feedback">
                            Cevap şıkları boş olamaz
                        </div>
                    </div>
                </div>
                <div class="col-6 pb-1">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text">B</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Cevabı Giriniz" v-model="article.QuestionList[@i].AnswerB" required="" />
                        <div class="invalid-feedback">
                            Cevap şıkları boş olamaz
                        </div>
                    </div>
                </div>
                <div class="col-6 pb-1">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text">C</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Cevabı Giriniz" v-model="article.QuestionList[@i].AnswerC" required="" />
                        <div class="invalid-feedback">
                            Cevap şıkları boş olamaz
                        </div>
                    </div>
                </div>
                <div class="col-6 pb-1">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text">D</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Cevabı Giriniz" v-model="article.QuestionList[@i].AnswerD" required="" />
                        <div class="invalid-feedback">
                            Cevap şıkları boş olamaz
                        </div>
                    </div>
                </div>
                <div class="col-6 mx-auto">
                    <div class="input-group">
                        <select class="form-control" v-model="article.QuestionList[@i].CorrectAnswer" required="">
                            <option value="">Doğru Cevabı Seçiniz</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                        <div class="invalid-feedback">
                            Doğru cevap boş olamaz
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row mt-3">
            <div class="col-12">
                <input type="submit" class="btn btn-success clever-btn w-100" value="Sınavı Oluştur">
            </div>
        </div>
    </form>
</div>

@section scripts{

    <script>

        let vm = new Vue({
            el: '#createExam',
            data: {
                articleList: [],
                loading: true,
                article: {
                    Title: '',
                    Content:'',
                    QuestionList: [
                        { QuestionText: '', AnswerA: '', AnswerB: '', AnswerC: '', AnswerD: '', CorrectAnswer: '' },
                        { QuestionText: '', AnswerA: '', AnswerB: '', AnswerC: '', AnswerD: '', CorrectAnswer: '' },
                        { QuestionText: '', AnswerA: '', AnswerB: '', AnswerC: '', AnswerD: '', CorrectAnswer: '' },
                        { QuestionText: '', AnswerA: '', AnswerB: '', AnswerC: '', AnswerD: '', CorrectAnswer: '' }
                    ]

                }
            },
            methods: {
                selectArticle(event, selectedIndex) {
                    this.article.Title = this.articleList[selectedIndex].title;
                    this.article.Content = this.articleList[selectedIndex].content;
                },
                createExam() {
                        axios({
                            method: 'post',
                            url: '/Home/CreateExam',
                            data: this.article
                        }).then(response => {
                            if (response.data){
                                window.location.href = '/Home/Index';
                            }
                        });

                },

            },
            mounted() {
                axios.get('@Url.Action("GetArticleContent")')
                            .then(response => {
                                this.articleList = response.data;
                                this.loading = false;
                            });
            }

        });







    </script>
}

